/* Global CSS */

body {

    margin: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: "Roboto, sans-serif";
    -moz-osx-font-smoothing: "Roboto, sans-serif";
    font-style: normal;

}

h1, h2, h3, h4, h5, h6, p {

    margin: 0;

}

:root {
    --primary: #5e3bee;
    --heading-color: #282938;
    --bg-shade: #f5fcff;
    --github: #e62872;
    --darkblue: #1c1e53;
    --black: #000000;
    --white: #ffffff;
}